<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input style='min-width:400px' placeholder="Search for a location, all right Angela?:">
            <button>Submit</button>
        </form>
        <p id="p1"></p>
        <p id="p2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>